.petrik{
  float: right;
  max-width: 8%;
  padding-top: 0px;
}
.kep{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
}
.foszoveg{
  text-align: center;
  font-size: large;
}
.navbar{
  position: relative;
  background-color: darkgray;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}
.kapcsolat{
  padding-top: 40px;
}
.footer{
  position: absolute;
  bottom: 10px;
  width: 50%;
}
.xd{
  margin-top: 20px;
  padding: 10px;
}
.nav{
  padding: 10px;
}